
--- utilizadores ---
CREATE TABLE `utilizadores` (

--- clientes ---
CREATE TABLE `clientes` (
  CONSTRAINT `clientes_ibfk_1` FOREIGN KEY (`id_cliente`) REFERENCES `utilizadores` (`id_utilizador`)

--- tecnicos ---
CREATE TABLE `tecnicos` (
  CONSTRAINT `tecnicos_ibfk_1` FOREIGN KEY (`id_tecnico`) REFERENCES `utilizadores` (`id_utilizador`)

--- pedidos ---
CREATE TABLE `pedidos` (
  CONSTRAINT `pedidos_ibfk_1` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id_cliente`),
  CONSTRAINT `pedidos_ibfk_2` FOREIGN KEY (`id_tecnico`) REFERENCES `tecnicos` (`id_tecnico`)

--- mensagens ---
CREATE TABLE `mensagens` (
  CONSTRAINT `mensagens_ibfk_1` FOREIGN KEY (`id_pedido`) REFERENCES `pedidos` (`id_pedido`)

--- orcamentos ---
CREATE TABLE `orcamentos` (
  CONSTRAINT `orcamentos_ibfk_1` FOREIGN KEY (`id_pedido`) REFERENCES `pedidos` (`id_pedido`)
